body.template-password {
  main {
    min-height: 100%;
    @include flex();
    justify-content: center;
    align-items: center;
  }
  position: relative;
  header, footer {
    position: absolute;
    left: 0;
    right: 0;
  }
  header {
    top: 0;
  }
  footer {
    bottom: 0;
  }
}