body.template-password {
  main {
    padding-top: 50px;
    @include flex();
    justify-content: center;
    align-items: center;
    min-height: calc(100% - #{$footer-height-desktop});
  }
  header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}

@include media-query($small) {
  body.template-password {
    main {
      min-height: calc(100% - #{$footer-height-mobile});
    }
  }
}