<?xml version="1.0" encoding="UTF-8"?>
<svg preserveAspectRatio="xMinYMin" width="1036px" height="1686px" viewBox="0 0 1036 1686" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
    <title>Fill 20</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Custom-Preset" fill="#FFF8E9">
            <path d="M0,0 C0,0 394.351061,19.7936826 696.450344,418.696851 C884.003662,666.349251 1036,1060.12337 1036,1686 C345.333333,1686 0,1686 0,1686 C0,1686 0,1124 0,0 Z" id="Fill-20"></path>
        </g>
    </g>
</svg>