#shopify-section-email-capture .email-capture {
  text-align: center;
  max-width: 750px;
  margin: 20px 0;
  .email-capture--success {
    display: none;
  }
  .error-message {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  &[data-state="error"] {
    .error-message {
      display: block;
    }
  }
  &[data-state=success] {
    .email-capture--success {
      display: block;
    }
    .email-capture--cta {
      display: none;
    }
  }
  .email-capture--cta {
    position: relative;
    h2 {
      margin-bottom: 48px;
    }
  }
  .email-capture--success {
    h2 {
      margin-bottom: 130px;
    }
  }
  p {
    margin: 0;
  }
  hr {
    border: none;
    background: $color-body-text;
    height: 2px;
    width: 32px;
    margin: 25px auto;
  }
  .copy {
    margin: auto;
  }
  form {
    input.email-capture--email {
      width: 200px;
    }
    .email-capture--inputs {
      margin: 27px auto 0;
      padding-bottom: 8px;
      display: inline-block;
      border-bottom: 1px solid $color-form;
    }
    input {
      display: inline-block;
      color: $color-form;
    }
    button {
      padding: 0;
      path {
        fill: currentColor;
      }
    }
    input, button {
      border: none;
      background: transparent;
    }
    input, button {
      color: $color-form;
    }
    input::placeholder {
      color: $color-form;
    }
  }

}


@include media-query($small) {
  #shopify-section-email-capture .email-capture {
    .email-capture--cta .copy {
      max-width: 230px;
    }
    hr {
      margin: 30px auto;
    }
    form {
      .email-capture--inputs {
        margin-top: 45px;
      }
    }
    .email-capture--cta {
      h2 {
        margin-bottom: 48px;
      }
    }
    .email-capture--success {
      h2 {
        margin-bottom:76px;
      }
      padding-bottom: 100px;
    }
  }
}