footer {
  background: $color-footer;
  color: $color-icon;
  ul {
    @include flex();
    @include plain-list();
    height: $footer-height-desktop;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 25px;
      .icon {
        height: 25px;
        width: 25px;
      }
    }
  }
}

@include media-query($small) {
  footer {
    ul {
      height: $footer-height-mobile;
    }
  }
}